body {
	background-color:white
}

a:link {
	text-decoration:none;
	color:navy;
}

a:visited {
	text-decoration:none;
	color:navy;
}

a:hover {
	text-decoration:none;
	color:green;
}

a:active {
	text-decoration:none;
	color:green;
}
